.button
  padding: 0.5em
  box-shadow: 0 1px 3px rgba(black, 0.2)
  margin-bottom: 0.5em
  user-select: none
  cursor: pointer
  background-color: white
  position: relative
  transition: all 0.1s ease-out;
  border: 2px solid transparent
  background-repeat: no-repeat
  background-position: -2px -2px
  background-size: auto 55px
  padding-left: 70px
  &:hover
    border-color: $blue
    box-shadow: 0 0 4px rgba($blue, 0.5)
    background-size: auto 60px
    &:active
      border-color: $green
      background-size: auto 55px
  &:active
    border-color: $green
    background-size: auto 55px
  .costs
    display: flex;
    flex-wrap: wrap
    align-items: center
    justify-content: flex-end
    .cost
      background-color: #4c4c4c
      color: white
      border-radius: 35px
      font-size: 0.8em
      padding: 2px 5px
      margin-left: 5px
      margin-bottom: 5px

.button__text 
  display: block
  margin-bottom: 5px

.button__header
  display: flex
  align-items: center
  justify-content: space-between

.button__text
  flex: 1 1 content;
  margin-right: 0.5em
  font-weight: 400


.button__description
  font-size: 0.75em


=buttonBg($name)
  .button.#{$name}
    background-image: url('./img/#{$name}.svg')

+buttonBg('collect-bean')
+buttonBg('plant-bean-sprout')
+buttonBg('create-bean-extract')
+buttonBg('create-bean-stalk')
+buttonBg('create-magic-bean')
+buttonBg('plant-magic-bean')