.button
  padding: 0.5em
  box-shadow: 0 1px 3px rgba(black, 0.2)
  margin-bottom: 0.5em
  user-select: none
  cursor: pointer
  background-color: white
  position: relative

.button__text 
  display: block

.button__header
  display: flex
  align-items: center
  justify-content: space-between

.button__text
  flex: 1 1 content;
  margin-right: 0.5em

.button__cost
  // position: absolute
  // top: 0.5em
  // right: 0.5em
  background-color: #4c4c4c
  color: white
  border-radius: 35px
  font-size: 0.8em
  padding: 2px 5px

.button__description
  font-size: 0.85em
