.multi-button
    &:hover
        border-color: transparent

.multi-button .button__description
    margin-bottom: 5px

.multi-button__options
    // display: flex
    // justify-content: space-between
    // flex-wrap: wrap
    display: grid
    grid-template-columns: 50% 50%;
    grid-gap: 5px;

.multi-button__option
    padding: 5px
    color: white
    transition: all 0.1s ease-out
    &:hover
        transform: scale(1.025)
        box-shadow: 0 2px 5px rgba(black, 0.45)
        &:active
            transform: scale(0.975)
    &:active
        transform: scale(0.975)

    small
        display: block
        font-size: 0.8em
    &.red
        background-color: $red
    &.blue
        background-color: $blue
    &.green
        background-color: $green
    &.black
        background-color: black

