* {
  box-sizing: border-box; }

body {
  background-color: #dadada;
  font-family: sans-serif;
  font-weight: 100; }

.app {
  display: flex; }

.buttons {
  flex: 0 0 70%; }

.stats {
  flex: 0 0 30%;
  display: flex;
  flex-direction: column;
  padding-right: 10px; }

.button {
  padding: 0.5em;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.2);
  margin-bottom: 0.5em;
  user-select: none;
  cursor: pointer;
  background-color: white;
  position: relative;
  transition: all 0.1s ease-out;
  border: 2px solid transparent;
  background-repeat: no-repeat;
  background-position: -2px -2px;
  background-size: auto 55px;
  padding-left: 70px; }
  .button:hover {
    border-color: #114998;
    box-shadow: 0 0 4px rgba(17, 73, 152, 0.5);
    background-size: auto 60px; }
  .button:active {
    border-color: #119823; }
  .button .costs {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: flex-end; }
    .button .costs .cost {
      background-color: #4c4c4c;
      color: white;
      border-radius: 35px;
      font-size: 0.8em;
      padding: 2px 5px;
      margin-left: 5px;
      margin-bottom: 5px; }

.button__text {
  display: block;
  margin-bottom: 5px; }

.button__header {
  display: flex;
  align-items: center;
  justify-content: space-between; }

.button__text {
  flex: 1 1 content;
  margin-right: 0.5em; }

.button__description {
  font-size: 0.85em; }

.button.collect-bean {
  background-image: url("./img/collect-bean.svg"); }

.button.plant-bean-sprout {
  background-image: url("./img/plant-bean-sprout.svg"); }

.button.create-bean-extract {
  background-image: url("./img/create-bean-extract.svg"); }

.multi-button:hover {
  border-color: transparent; }

.multi-button .button__description {
  margin-bottom: 5px; }

.multi-button__options {
  display: grid;
  grid-template-columns: 50% 50%;
  grid-gap: 5px; }

.multi-button__option {
  padding: 5px;
  color: white;
  transition: all 0.1s ease-out; }
  .multi-button__option:hover {
    transform: scale(1.025);
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.45); }
    .multi-button__option:hover:active {
      transform: scale(0.975); }
  .multi-button__option:active {
    transform: scale(0.975); }
  .multi-button__option small {
    display: block;
    font-size: 0.8em; }
  .multi-button__option.red {
    background-color: #851B1B; }
  .multi-button__option.blue {
    background-color: #114998; }
  .multi-button__option.green {
    background-color: #119823; }
  .multi-button__option.black {
    background-color: black; }

.stat {
  display: flex;
  justify-content: space-between;
  margin-bottom: 5px; }

.stat__name {
  font-weight: 600; }
