* {
  box-sizing: border-box; }

body {
  background-color: #dadada;
  font-family: sans-serif;
  font-weight: 100; }

.app {
  display: flex;
  align-items: flex-start; }

.buttons {
  flex: 0 0 70%; }

.stats {
  flex: 0 0 30%;
  display: grid;
  padding-right: 10px; }
  @media (max-width: 540px) {
    .stats {
      grid-column-gap: 2%;
      grid-template-columns: 49% 49%; } }

@media (max-width: 540px) {
  body {
    margin: 0.25em; }
  .app {
    flex-wrap: wrap; }
  .stats,
  .buttons {
    flex: 1 0 100%;
    padding: 0; } }

.button {
  padding: 0.5em;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.2);
  margin-bottom: 0.5em;
  user-select: none;
  cursor: pointer;
  background-color: white;
  position: relative;
  transition: all 0.1s ease-out;
  border: 2px solid transparent;
  background-repeat: no-repeat;
  background-position: -2px -2px;
  background-size: auto 55px;
  padding-left: 70px; }
  .button:hover {
    border-color: #114998;
    box-shadow: 0 0 4px rgba(17, 73, 152, 0.5);
    background-size: auto 60px; }
    .button:hover:active {
      border-color: #119823;
      background-size: auto 55px; }
  .button:active {
    border-color: #119823;
    background-size: auto 55px; }
  .button .costs {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: flex-end; }
    .button .costs .cost {
      background-color: #4c4c4c;
      color: white;
      border-radius: 35px;
      font-size: 0.8em;
      padding: 2px 5px;
      margin-left: 5px;
      margin-bottom: 5px; }

.button__text {
  display: block;
  margin-bottom: 5px; }

.button__header {
  display: flex;
  align-items: center;
  justify-content: space-between; }

.button__text {
  flex: 1 1 content;
  margin-right: 0.5em;
  font-weight: 400; }

.button__description {
  font-size: 0.75em; }

.button.collect-bean {
  background-image: url("./img/collect-bean.svg"); }

.button.plant-bean-sprout {
  background-image: url("./img/plant-bean-sprout.svg"); }

.button.create-bean-extract {
  background-image: url("./img/create-bean-extract.svg"); }

.button.create-bean-stalk {
  background-image: url("./img/create-bean-stalk.svg"); }

.button.create-magic-bean {
  background-image: url("./img/create-magic-bean.svg"); }

.button.plant-magic-bean {
  background-image: url("./img/plant-magic-bean.svg"); }

.multi-button {
  padding-left: 0.5em;
  padding-bottom: 0;
  border: none; }
  .multi-button:hover {
    border-color: transparent; }

.multi-button .button__description {
  margin-bottom: 5px; }

.multi-button__options {
  display: grid;
  grid-template-columns: 50% 50%;
  margin: 0 -0.5em; }

.multi-button__option {
  padding: 5px;
  transition: all 0.1s ease-out;
  background-repeat: no-repeat;
  background-size: 60px auto;
  padding-left: 60px; }
  .multi-button__option:hover {
    background-size: 65px auto;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.45); }
    .multi-button__option:hover:active {
      background-size: 60px auto; }
  .multi-button__option:active {
    background-size: 60px auto; }
  .multi-button__option small {
    display: block;
    font-size: 0.7em; }

.multi-button__option.create-red-potion {
  background-image: url("./img/create-red-potion.svg"); }

.multi-button__option.create-blue-potion {
  background-image: url("./img/create-blue-potion.svg"); }

.multi-button__option.create-green-potion {
  background-image: url("./img/create-green-potion.svg"); }

.multi-button__option.create-black-potion {
  background-image: url("./img/create-black-potion.svg"); }

.stat {
  display: flex;
  margin-bottom: 5px; }

.stat__name {
  font-weight: 600; }

.stat__amount {
  margin-left: auto; }
